<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/hai.css">
  <title>@honghaine</title>
</head>

<body>
  <div class="container" style="z-index: 1000; position: relative">
    <form class="form" method="post" action="honghaine">
      <div class="bubble">
        <div class="header">
          <div class="pfp-container"><img class="pfp"
              src="https://drive.google.com/file/d/1gdC5dCKpOx2_Lb-2QkjwjeMXSxqs6Lpk/view?usp=share_link" alt="Selfie">             
            </div>
          <div class="user-container">
            <div class="username">@honghaine</div>
            <div class="prompt">send me anonymous messages!</div>
          </div>
        </div>
        <div class="textarea-container">
          <div class="dice-button" id="dice-button">🎲</div>
            <textarea placeholder="send me anonymous messages..." name="question"
            autocomplete="off" maxlength="300" id="question" data-gramm="false" wt-ignore-input="true"
            style="height: 130px; width: 668px;"></textarea>
        </div>
      </div>
      <div class="anonymous-tooltip">🔒 anonymous q&amp;a</div><button id="submitButton" class="submit" type="submit"
        style="transform: translateZ(0px); z-index: 1000; display: none;">Send!</button>
    </form>
  </div>
  <div class="bottom-container">
    <h2 class="download-prompt">👇 <span class="clickCount">332</span> people just tapped the button👇 </h2>
    <div class="space2"></div><a class="button download-link download-link1 pulse" href="" target="_blank">Get your own
      messages!</a>
    <div class="tos-privacy"><a class="tos" href="/p/terms">Terms</a><a class="privacy" href="/p/privacy">Privacy</a>
    </div>
  </div>
</body>
<script src="/script/hai.js" type="module" defer></script>
</html>